h1,
h2 {
    margin: 0;
    text-align: center;
}
h1 {
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
}
h2 {
    font-weight: 400;
    font-size: 1.4rem;
}
.header-title {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #c94b42;
}

.redirect-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redirect-article p {
    font-size: 1rem;
}
.redirect-article a {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: none;
    padding: 8px 18px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 900px) {
    main > section {
        padding: 0 1.5rem;
    }

    .redirect-article a {
        padding: 14px 18px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    footer {
        display: none;
    }
}
